 .tab {
      padding: 8px 12px;
      cursor: pointer;
      border: 1px solid #ccc;
      display: inline-block;
    }

    .active {
      background: black;
    
      color: white;
    }

    section {
      display: none;
      margin-top: 15px;
    }

    section.active {
      display: block;
    }